
@{
    var error = TempData["Error"] as string;
}


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form method="post" asp-action="validate" class="row g-3">
                    <h4>Welcome Back</h4>
                    @if (!string.IsNullOrEmpty(error))
                    {
                        <span class="alert-danger" style="padding:10px">@error</span>
                    }
                    <div class="col-12">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-12 pt-3">
                        <button type="submit" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Have not account yet? <a asp-action="Register">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
